# Core dependencies
python-dotenv
streamlit

# LangChain core
langchain
langchain-core
langchain-community

# OpenAI integration
langchain-openai
openai

# Google Gemini integration
langchain-google-genai
google-generativeai


##RAG 
bs4
pypdf
chromadb
faiss-cpu

## tools
arxiv
wikipedia
langchain_exa
flask

# Groq
groq
langchain-groq
beautifulsoup4


PyPDF
sentence-transformers